# docker-compose --env-file ../.env -p movienite -f docker-compose.yml -f docker-compose.prod.yml up -d --build
services:
  movienite-api:
    restart: always
    environment:
      - LOG_LEVEL=info
      - WORKERS=4
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 2G
        reservations:
          cpus: '0.5'
          memory: 512M

  movienite-web:
    build:
      context: ..
      dockerfile: docker/web.dockerfile
    container_name: movienite-web-prod
    ports:
      - "3000:3000"
    networks:
      - movienite-frontend
    depends_on:
      - movienite-api
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
        reservations:
          cpus: '0.1'
          memory: 64M
