@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@layer theme, base, components, utilities;

@import "@/styles/variables.css";
@import "@/styles/base.css";
@import "@/styles/buttons.css";
@import "@/styles/movie-card.css";
@import "@/styles/filters.css";
@import "@/styles/sort-controls.css";
@import "@/styles/modal.css";
@import "@/styles/theme.css";
@import "@/styles/login.css";
