name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: install ssh
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.HOST }} > ~/.ssh/known_hosts

      - name: connect and deploy
        run: |
          ssh "${{ secrets.USERNAME }}@${{ secrets.HOST }}" "
            cd ${{ secrets.SITE_PATH }} &&
            git switch -f master &&
            git pull &&
            cd docker &&
            docker-compose --env-file ../.env -p movienite -f docker-compose.yml -f docker-compose.prod.yml up -d --build
          "

      - name: cleanup
        run: rm -rf ~/.ssh
