name: PR Check

on:
  pull_request:
    branches:
      - '**'

jobs:
  frontend-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        working-directory: ./frontend
        run: bun install --frozen-lockfile

      - name: Run prebuild
        working-directory: ./frontend
        run: bun run prebuild

      - name: Run build
        working-directory: ./frontend
        run: bun run build
